<div class="container_bundles">
    <div class="menu">
        <div class="icons" onclick="toggleMenu()">
            <img class="icon" src="img/close.png" alt="menu.png">
        </div>
        <ul class="ul_menu">
            <li class="li_menu"><a class="a_menu" href="index.html">Startsida</a></li>
            <li class="li_menu"><a class="a_menu" href="nyheter.html">Nyheter</a></li>
            <li class="li_menu"><a class="a_menu" href="produkter.html">Produkter</a></li>
        </ul>
    </div>
    <header>
        <h1 class="logo">Bundles</h1>
        <div class="icons" onclick="toggleMenu()">
            <img class="icon" src="img/menu.png" alt="">
        </div>
    </header>
    <h1 class="bundle1">Fildelningsbundle</h1>
    <div class="bg-bundle1-bundles">
        <a href="filbundle.html" class="a_kop_nyheter"></a>
    </div>
    <h1 class="bundle2">Kommer mer i framtiden</h1>
</div>