<div class="container_kop">
    <div class="menu">
        <div class="icons" onclick="toggleMenu()">
            <div class="icon-close"></div>
        </div>
        <ul class="ul_menu">
            <li class="li_menu"><a class="a_menu" href="index.html">Startsida</a></li>
            <li class="li_menu"><a class="a_menu" href="produkter.html">Produkter</a></li>
            <li class="li_menu"><a class="a_menu" href="nyheter.html">Nyheter</a></li>
            <li class="li_menu"><a class="a_menu" href="bundles.html">Bundles</a></li>
        </ul>
    </div>
    <header>
        <h1 class="logo">Köp</h1>
        <div class="icons" onclick="toggleMenu()">
            <div class="icon-menu"></div>
        </div>
    </header>
    <h2 class="h2_produkt">3DL Arla filmjölk<br>För fildelning</h2>
    <div class="produkt-filmjolk"></div>
    <div class="varukorg-noform">
        <p class="p-varukorg">Lägg till i varukorg</p>
    </div>
    <p class="pris">15 KR</p>
</div>