<div class="container">
    <div class="menu">
        <div class="icons" onclick="toggleMenu()">
            <img class="icon" src="img/close.png" alt="menu.png">
        </div>
        <ul class="ul_menu">
            <li class="li_menu"><a class="a_menu" href="produkter.html">Produkter</a></li>
            <li class="li_menu"><a class="a_menu" href="nyheter.html">Nyheter</a></li>
            <li class="li_menu"><a class="a_menu" href="bundles.html">Bundles</a></li>
        </ul>
    </div>
    <header>
        <h1 class="logo">Walla Köp</h1>
        <div class="icons" onclick="toggleMenu()">
            <img class="icon" src="img/menu.png" alt="">
        </div>
    </header>
    <img class="mySlides" src="img/slide1.jpg">
    <img class="mySlides" src="img/slide2.jpg">
    <img class="mySlides" src="img/slide3.jpg">
    <div class="browse">
        <a class="a_browse" href="produkter.html"></a>
        <h1 class="h1_browse">Browse</h1>
    </div>
</div>