<div class="container_nyheter">
    <div class="menu">
        <div class="icons" onclick="toggleMenu()">
            <div class="icon-close"></div>
        </div>
        <ul class="ul_menu">
            <li class="li_menu"><a class="a_menu" href="index.html">Startsida</a></li>
            <li class="li_menu"><a class="a_menu" href="produkter.html">Produkter</a></li>
            <li class="li_menu"><a class="a_menu" href="bundles.html">Bundles</a></li>
        </ul>
    </div>
    <header>
        <h1 class="logo">Nyheter</h1>
        <div class="icons" onclick="toggleMenu()">
            <div class="icon-menu"></div>
        </div>
    </header>
    <h1 class="nyhet1">Fildelningsbundle</h1>
    <div class="bg-bundle1">
        <a href="filbundle.html" class="a_kop_nyheter"></a>
    </div>
    <h1 class="nyhet2">Limited time:<br>Hela Malmö</h1>
    <div class="bg-malmo">
        <a href="malmo.html" class="a_kop_nyheter"></a>
    </div>
</div>