<div class="container_produkter">
    <div class="menu">
        <div class="icons" onclick="toggleMenu()">
            <img class="icon" src="img/close.png" alt="menu.png">
        </div>
        <ul class="ul_menu">
            <li class="li_menu"><a class="a_menu" href="index.html">Startsida</a></li>
            <li class="li_menu"><a class="a_menu" href="nyheter.html">Nyheter</a></li>
            <li class="li_menu"><a class="a_menu" href="bundles.html">Bundles</a></li>
        </ul>
    </div>
    <header>
        <h1 class="logo">Produkter</h1>
        <div class="icons" onclick="toggleMenu()">
            <img class="icon" src="img/menu.png" alt="">
        </div>
    </header>
    <div class="bg-hoodie">
        <a href="hh-hoodie.html" class="a_kop"></a>
    </div>
    <p class="hh-hoodie">Original rosa HH-hoodie<br>299 KR</p>
    <div class="bg-t_shirt1">
        <a href="hh-shirt.html" class="a_kop"></a>
    </div>
    <p class="hh-shirt">Svart HH T-shirt<br>199 KR</p>
    <div class="bg-t_shirt2">
        <a href="tre_strack.html" class="a_kop"></a>
    </div>
    <p class="tre_strack">Vit Tre Sträck (typo inkluderat)<br>199 KR</p>
    <div class="bg-filmjolk">
        <a href="filmjolk.html" class="a_kop"></a>
    </div>
    <p class="filmjolk"> 3DL Arla filmjölk för fildelning<br>15 KR</p>
</div>