.container {
    height: 720px;
    width: 1280;
    display: grid;
    background-color: beige;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(5, 1fr);
    margin: 0;
}

@media only screen and (max-width: 415px) and (max-height: 737px) {
    .container {
        display: grid;
        width: 100vw;
        height: 100vh;
        grid-template-rows: repeat(9, 1fr);
        grid-template-columns: repeat(7, 1fr);
        background-color: beige;
        margin: 0;  
    }
    
    .fade-layer{
        display: none;
        background-color: black;
        width: 100vw;
        height: 100vh;
        position: fixed;
        opacity: 50;
        z-index: 11;
    }
    
    .fade {
        display: block;
        opacity: 0.5;
        transition: ease-out 1s;
        z-index: 11;
    }

    .menu{
        width: 50vw;
        height: 100vh;
        position: absolute;
        background: beige;
        display: block;
        transform: translateX(-100%);
        text-align: left;
        transition: transform ease-out 0.5s;
        z-index: 11;
    }
    
    .show {
        display: block;
        transition: transform ease-out 0.5s;
        position: absolute;
        transform: translateX(0%);
    }

    header {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(7, 1fr);
        grid-row: 1/2;
        grid-column: 1/8;
        background-color: beige;
    }

    .icon {
        grid-row: 1/2;
        grid-column: 1/2;
        position: relative;
        top: 3vh;
        left: 1vw;
    }

    .logo {
        grid-row: 1/2;
        grid-column: 2/7;
        margin: 0;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
        position: relative;
        top: 3vh;

    }

    .mySlides {
        grid-row: 2/10;
        grid-column: 1/8;
        text-align: center;
        margin: 0;
    }

    .browse {
        grid-row: 8/9;
        grid-column: 3/6;
        background-color: beige;
        border-style: solid;
        border-color: black;
        border-width: 2px;
        transition: 0.3s;
    }

    .browse:hover {
        background-color: rgb(179, 179, 152);
    }

    .h1_browse {
        text-align: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin: 0;
        position: relative;
        top: 1.5vh;
        z-index: 10;
    }

    .a_browse {
        height: 100vh;
        width: 100vw;
        position: absolute;
        z-index: 11;
    }

    .a_menu {
        text-decoration: none;
        font-size: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .a_menu:visited {
        color: blue;
    }

    .li_menu {
        height: 7vh;
        width: 30vw;
        margin-bottom: 3vh;
        border-style: solid;
        border-width: 0px;
        border-bottom-width: 1px;
        border-bottom-color: grey;
        margin-right: 5vw;
    }

    .ul_menu {
        text-align: left;
    }

    .container_produkter {
        display: grid;
        background-color: beige;
        width: 100vw;
        height: 100vh;
        grid-template-rows: 64px 200px 30px 200px 30px 200px;
        grid-template-columns: repeat(7, 1fr);
    }

}