.container {
    display: grid;
    height: 720px;
    width: 1280;
    background-color: beige;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(5, 1fr);
    margin: 0;
}

.icons {
    display: none;
}

.menu {
    grid-row: 1/11;
    grid-column: 1/2;
}

@media only screen and (max-width: 415px) and (max-height: 737px) {
    .container {
        width: 100vw;
        height: 100vh;
        grid-template-rows: repeat(9, 1fr);
        grid-template-columns: repeat(7, 1fr);
        background-color: beige;
        margin: 0;  
    }
    
    .fade-layer{
        display: none;
        background-color: black;
        width: 100vw;
        height: 100vh;
        position: fixed;
        opacity: 50;
        z-index: 11;
    }
    
    .fade {
        display: block;
        opacity: 0.5;
        transition: ease-out 1s;
        z-index: 11;
    }

    .menu{
        width: 50vw;
        height: 100vh;
        position: absolute;
        background: beige;
        display: block;
        transform: translateX(-100%);
        text-align: left;
        transition: transform ease-out 0.5s;
        z-index: 11;
    }
    
    .show {
        display: block;
        transition: transform ease-out 0.5s;
        position: absolute;
        transform: translateX(0%);
    }

    header {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(7, 1fr);
        grid-row: 1/2;
        grid-column: 1/8;
        background-color: beige;
    }

    .icons {
        grid-row: 1/2;
        grid-column: 1/2;
        position: relative;
        top: 3vh;
        left: 1vw;
        display: block;
    }

    .logo {
        grid-row: 1/2;
        grid-column: 2/7;
        margin: 0;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
        position: relative;
        top: 3vh;

    }

    .mySlides {
        grid-row: 2/10;
        grid-column: 1/8;
        text-align: center;
        margin: 0;
    }

    .browse {
        grid-row: 8/9;
        grid-column: 3/6;
        background-color: #f5f5dc;
        border-style: solid;
        border-color: black;
        border-width: 2px;
        transition: 0.3s;
    }

    .browse:hover {
        background-color: rgb(179, 179, 152);
    }

    .h1_browse {
        text-align: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin: 0;
        position: relative;
        top: 1.5vh;
        z-index: 10;
    }

    .a_browse {
        height: 11vh;
        width: 43vw;
        position: absolute;
        z-index: 11;
    }

    .a_menu {
        text-decoration: none;
        font-size: 20px;
        color: #646464;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .a_menu:visited {
        color: #646464;
    }

    .li_menu {
        height: 7vh;
        width: 30vw;
        margin-bottom: 3vh;
        border-style: solid;
        border-width: 0px;
        border-bottom-width: 1px;
        border-bottom-color: #646464;
        margin-right: 5vw;
    }

    .ul_menu {
        text-align: left;
    }

    .container_produkter {
        display: grid;
        background-color: beige;
        width: 100vw;
        height: auto;
        grid-template-rows: 64px 300px 57px 300px 57px 300px 57px 300px 57px;
        grid-template-columns: repeat(7, 1fr);
        grid-row-gap: 10px;
    }

    .bg-hoodie {
        grid-row: 2/3;
        grid-column: 1/8;
        width: 280px; 
        height: 280px;
        background: url(../img/sprite_produkter.png) -310px -10px;
        margin: auto;
        transition: 0.3s;
    }

    .hh-hoodie {
        grid-row: 3/4;
        grid-column: 1/8;
        text-align: center;
        margin: auto;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 20px;
        text-shadow: 1px 1px 1px #444444;   
    }

    .bg-hoodie:hover {
        background-color: white;
        opacity: 0.85;
    }

    .a_köp {
        height: 300px;
        width: 80vw;
        position: absolute;
    }

    .bg-t_shirt1 {
        grid-row: 4/5;
        grid-column: 1/8;
        width: 280px; height: 280px;
        background: url(../img/sprite_produkter.png) -10px -310px;
        margin: auto;
        transition: 0.3s;
    }

    .hh-shirt {
        grid-row: 5/6;
        grid-column: 1/8;
        text-align: center;
        margin: auto;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 20px;
        text-shadow: 1px 1px 1px #444444;       
    }

    .bg-t_shirt1:hover {
        background-color: white;
        opacity: 0.85;
    }

    .bg-t_shirt2 {
        grid-row: 6/7;
        grid-column: 1/8;
        width: 280px; height: 280px;
        background: url(../img/sprite_produkter.png) -310px -310px;
        margin: auto;
        transition: 0.3s;
    }

    .bg-t_shirt2:hover {
        background-color: white;
        opacity: 0.85;
    }

    .tre_sträck {
        grid-row: 7/8;
        grid-column: 1/8;
        text-align: center;
        margin: auto;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 20px;
        text-shadow: 1px 1px 1px #444444;       
    }

    .bg-filmjölk {
        grid-row: 8/9;
        grid-column: 1/8;
        margin: auto;
        transition: 0.3s;
        width: 280px; height: 280px;
        background: url(../img/sprite_produkter.png) -10px -10px;
    }

    .bg-filmjölk:hover {
        background-color: white;
        opacity: 0.85;
    }

    .filmjölk {
        grid-row: 9/10;
        grid-column: 1/8;
        text-align: center;
        margin: auto;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 20px;
        text-shadow: 1px 1px 1px #444444;   
    }

    .container_nyheter {
        display: grid;
        background-color: beige;
        width: 100vw;
        height: auto;
        grid-template-rows: 64px auto 300px auto 300px;
        grid-template-columns: repeat(7, 1fr);
        grid-row-gap: 10px;

    }

    .nyhet1 {
        grid-row: 2/3;
        grid-column: 1/8;
        text-align: center;
        margin: 0;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .nyhet2 {
        grid-row: 4/5;
        grid-column: 1/8;
        text-align: center;
        margin: 0;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .bg-bundle1 {
        grid-row: 3/4;
        grid-column: 1/8;
        width: 300px; height: 280px;
        background: url(../img/sprite_nyheter.png) -10px -10px;
        transition: 0.3s;
    }

    .bg-bundle1:hover {
        background-color: white;
        opacity: 0.85;
    }

    .bg-malmo {
        grid-row: 5/6;
        grid-column: 1/8;
        width: 300px; height: 280px;
        background: url(../img/sprite_nyheter.png) -330px -10px;
        transition: 0.3s;
    }

    .bg-malmo:hover {
        background-color: white;
        opacity: 0.85;
    }

    .container_köp {
        display: grid;
        background-color: beige;
        width: 100vw;
        height: auto;
        grid-template-rows: 64px auto 300px auto auto;
        grid-template-columns: repeat(7, 1fr);
        grid-row-gap: 10px;
    }

    .h2_produkt {
        grid-row: 2/3;
        grid-column: 1/8;
        text-align: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin: 0;
    }

    .produkt {
        grid-row: 3/4;
        grid-column: 1/8;
        height: 280px;
        width: 280px;
        margin: auto;
    }

    .storlek {
        grid-row: 5/6;
        grid-column: 1/4;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin-left: 2vw;
    }

    input {
        width: 20vw;
    }

    .varukorg {
        grid-row: 5/6;
        grid-column: 4/8;
        background-color: #3EC381;
        margin-left: 2vw;
        margin-right: 2vw;
        border-radius: 10px;
        transition: 0.3s;
    }

    .p-varukorg {
        text-align: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 18px;
    }

    .varukorg:hover {
        background-color: #329D67;
    }

    .pris {
        grid-row: 4/5;
        grid-column: 1/8;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
        font-size: 36px;
        margin: 0;
    }

    .container_bundles {
        display: grid;
        background-color: beige;
        width: 100vw;
        height: auto;
        grid-template-rows: 64px auto 300px auto;
        grid-template-columns: repeat(7, 1fr);
        grid-row-gap: 10px;
    }

    .bundle1 {
        grid-row: 2/3;
        grid-column: 1/8;
        text-align: center;
        margin: 0;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .bundle2 {
        grid-row: 4/5;
        grid-column: 1/8;
        text-align: center;
        margin: 0;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

}