/* css produkter */

.container_produkter {
    display: grid;
    height: 792px;
    width: 1280px;
    background-color: beige;
    grid-template-rows: repeat(11, 72px);
    grid-template-columns: 220px repeat(4, 265px);
    grid-row-gap: 0;
    margin: auto;
    background-color: beige;
}

.bg-hoodie {
    grid-row: 2/6;
    grid-column: 2/4;
    width: 280px; 
    height: 280px;
    background: url(../img/sprite_produkter.png) -310px -10px;
    margin: auto;
    transition: 0.3s;
}

.bg-hoodie:hover {
    background-color: white;
    opacity: 0.85;
}

.hh-hoodie {
    grid-row: 6/7;
    grid-column: 2/4;
    text-align: center;
    margin: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    text-shadow: 1px 1px 1px #444444;   
}

.bg-t_shirt1 {
    grid-row: 2/6;
    grid-column: 4/6;
    width: 280px; 
    height: 280px;
    background: url(../img/sprite_produkter.png) -10px -310px;
    margin: auto;
    transition: 0.3s;
}

.bg-t_shirt1:hover {
    background-color: white;
    opacity: 0.85;
}

.hh-shirt {
    grid-row: 6/7;
    grid-column: 4/6;
    text-align: center;
    margin: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    text-shadow: 1px 1px 1px #444444;       
}

.bg-t_shirt2 {
    grid-row: 7/11;
    grid-column: 2/4;
    width: 280px; 
    height: 280px;
    background: url(../img/sprite_produkter.png) -310px -310px;
    margin: auto;
    transition: 0.3s;
}

.bg-t_shirt2:hover {
    background-color: white;
    opacity: 0.85;
}

.tre_strack {
    grid-row: 11/12;
    grid-column: 2/4;
    text-align: center;
    margin: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    text-shadow: 1px 1px 1px #444444;       
}

.bg-filmjolk {
    grid-row: 7/11;
    grid-column: 4/6;
    margin: auto;
    transition: 0.3s;
    width: 280px; 
    height: 280px;
    background: url(../img/sprite_produkter.png) -10px -10px;
}

.bg-filmjolk:hover {
    background-color: white;
    opacity: 0.85;
}

.filmjolk {
    grid-row: 11/12;
    grid-column: 4/6;
    text-align: center;
    margin: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    text-shadow: 1px 1px 1px #444444;   
}

.a_kop {
    height: 280px;
    width: 300px;
    position: absolute;
}

/* css startsidan och sidomenyn */

.container {
    display: grid;
    height: 720px;
    width: 1280px;
    background-color: beige;
    grid-template-rows: repeat(10, 72px);
    grid-template-columns: 220px repeat(4, 265px);
    grid-row-gap: 5px;
    margin: auto;
    background-color: beige;
}

.icons {
    display: none;
}

.menu {
    height: 720px;
    width: 210px;
    grid-row: 1/11;
    grid-column: 1/2;
    position: absolute;
    background: beige;
    display: block;
    z-index: 11;
}

header {
    display: grid;
    grid-row: 1/2;
    grid-column: 1/6;
    background-color: beige;
    grid-template-columns: inherit;
    grid-template-rows: 72px;
    z-index: 10;
    position: relative;
}

.logo {
    grid-row: 1/2;
    grid-column: 3/5;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    position: relative;
    top: 20px;
}

.mySlides {
    grid-row: 1/10;
    grid-column: 2/6;
    text-align: center;
    margin: auto;
}

.browse {
    margin-right: 132.5px;
    margin-left: 132.5px;
    grid-row: 9/10;
    grid-column: 3/5;
    background-color: #f5f5dc;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    transition: 0.3s;
}

.browse:hover {
    background-color: rgb(179, 179, 152);
}

.h1_browse {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    position: relative;
    top: 15px;
    z-index: 10;
}

.a_browse {
    height: 70px;
    width: 270px;
    position: absolute;
    z-index: 11;
}

.a_menu {
    text-decoration: none;
    font-size: 20px;
    color: #646464;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: 0.1s;
    
}

.a_menu:visited {
    color: #646464;
}

.a_menu:hover {
    color: #383838;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: #383838;
    font-size: 36px;
}

.li_menu {
    height: 7vh;
    width: 150px;
    margin-bottom: 3vh;
    margin-right: 5vw;
}

.ul_menu {
    text-align: left;
    list-style-type: none;
}

/* css nyheter */

.container_nyheter {
    display: grid;
    height: 792px;
    width: 1280px;
    background-color: beige;
    grid-template-rows: repeat(11, 72px);
    grid-template-columns: 220px repeat(4, 265px);
    grid-row-gap: 0;
    margin: auto;
    background-color: beige;
}

.nyhet1 {
    grid-row: 3/4;
    grid-column: 2/4;
    text-align: center;
    margin: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nyhet2 {
    grid-row: 3/4;
    grid-column: 4/6;
    text-align: center;
    margin: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.bg-bundle1 {
    grid-row: 4/9;
    grid-column: 2/4;
    width: 420px; 
    height: 280px;
    background: url(../img/sprite_nyheter.png) -10px -10px;
    transition: 0.3s;
    margin: auto;
}

.bg-bundle1:hover {
    background-color: white;
    opacity: 0.85;
}

.bg-malmo {
    grid-row: 4/9;
    grid-column: 4/6;
    width: 420px; 
    height: 280px;
    background: url(../img/sprite_nyheter.png) -450px -10px;
    transition: 0.3s;
    margin: auto;
}

.bg-malmo:hover {
    background-color: white;
    opacity: 0.85;
}

.a_kop_nyheter {
    height: 280px;
    width: 420px;
    position: absolute;
}

/* css bundles */

.container_bundles {
    display: grid;
    height: 792px;
    width: 1280px;
    background-color: beige;
    grid-template-rows: repeat(11, 72px);
    grid-template-columns: 220px repeat(4, 265px);
    grid-row-gap: 0;
    margin: auto;
    background-color: beige;
}

.bundle1 {
    grid-row: 3/4;
    grid-column: 3/5;
    text-align: center;
    margin: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.bundle2 {
    grid-row: 10/11;
    grid-column: 3/5;
    text-align: center;
    margin: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.bg-bundle1-bundles {
    grid-row: 4/9;
    grid-column: 3/5;
    width: 420px; 
    height: 280px;
    background: url(../img/sprite_nyheter.png) -10px -10px;
    transition: 0.3s;
    margin: auto;
}

.bg-bundle1-bundles:hover {
    background-color: white;
    opacity: 0.85;
}

/* css kopande */

.container_kop {
    display: grid;
    height: 792px;
    width: 1280px;
    background-color: beige;
    grid-template-rows: repeat(11, 72px);
    grid-template-columns: 220px repeat(4, 265px);
    grid-row-gap: 0;
    margin: auto;
    background-color: beige;
}

.h2_produkt {
    grid-row: 2/3;
    grid-column: 2/4;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: auto;
}

.produkt-hoodie {
    grid-row: 3/10;
    grid-column: 2/4;
    height: 432px;
    width: 432px;
    margin: auto;
    background: url(../img/sprite-hoodie.png) -10px -10px;
}

.produkt-shirt {
    grid-row: 3/10;
    grid-column: 2/4;
    height: 432px;
    width: 432px;
    margin: auto;
    background: url(../img/sprite-shirt1.png) -10px -10px;
}

.produkt-shirt2 {
    grid-row: 3/10;
    grid-column: 2/4;
    height: 432px;
    width: 432px;
    margin: auto;
    background: url(../img/sprite-shirt2.png) -10px -10px;
}

.produkt-filmjolk {
    grid-row: 3/10;
    grid-column: 2/4;
    height: 432px;
    width: 432px;
    margin: auto;
    background: url(../img/sprite-filmjolk.png) -10px -10px;
}

.produkt-filbundle {
    grid-row: 3/10;
    grid-column: 2/4;
    height: 432px;
    width: 432px;
    margin: auto;
    background: url(../img/sprite-filbundle.png) -10px -10px;
}

.produkt-malmo {
    grid-row: 3/10;
    grid-column: 2/4;
    height: 432px;
    width: 432px;
    margin: auto;
    background: url(../img/sprite-malmo.png) -10px -10px;
}

.storlek {
    grid-row: 4/5;
    grid-column: 4/6;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 2vw;
    font-size: 30px;
}

input {
    height: 20px;
    width: 50px;
}

.varukorg {
    grid-row: 6/7;
    grid-column: 4/8;
    background-color: #3EC381;
    margin-left: 2vw;
    margin-right: 2vw;
    border-radius: 10px;
    transition: 0.3s;
}

.varukorg-noform {
    grid-row: 6/7;
    grid-column: 4/8;
    background-color: #3EC381;
    margin-left: 2vw;
    margin-right: 2vw;
    border-radius: 10px;
    transition: 0.3s;
}

.p-varukorg {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 36px;
    position: relative;
    bottom: 25px;
}

.varukorg:hover {
    background-color: #329D67;
}

.varukorg-noform:hover {
    background-color: #329D67;
}

.pris {
    grid-row: 10/11;
    grid-column: 2/4;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 36px;
    margin: auto;
}


@media only screen and (max-width: 415px) and (max-height: 737px) {
    
    /* mobil css startsidan */
    
    .container {
        width: 100vw;
        height: 100vh;
        grid-template-rows: repeat(9, 1fr);
        grid-template-columns: repeat(7, 1fr);
        background-color: beige;
        margin: 0;
        grid-row-gap: 0px;
    }
    
    .fade-layer{
        display: none;
        background-color: black;
        width: 100vw;
        height: 100vh;
        position: fixed;
        opacity: 50;
        z-index: 11;
    }
    
    .fade {
        display: block;
        opacity: 0.5;
        transition: ease-out 1s;
        z-index: 11;
    }

    .menu {
        width: 50vw;
        height: 100vh;
        position: absolute;
        background: beige;
        display: block;
        transform: translateX(-100%);
        text-align: left;
        transition: transform ease-out 0.5s;
        z-index: 11;
    }
    
    .show {
        display: block;
        transition: transform ease-out 0.5s;
        position: absolute;
        transform: translateX(0%);
    }

    header {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(7, 1fr);
        grid-row: 1/2;
        grid-column: 1/8;
        background-color: beige;
    }

    .icons {
        grid-row: 1/2;
        grid-column: 1/2;
        position: relative;
        top: 3vh;
        left: 1vw;
        display: block;
    }

    .icon-close {
        width: 36px; 
        height: 36px;
        background: url(../img/sprite_startsida.png) -10px -10px;
    }

    .icon-menu {
        width: 36px; 
        height: 36px;
        background: url(../img/sprite_startsida.png) -66px -10px;
    }

    .logo {
        grid-row: 1/2;
        grid-column: 2/7;
        margin: 0;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
        position: relative;
        top: 3vh;
    }

    .mySlides {
        grid-row: 2/10;
        grid-column: 1/8;
        text-align: center;
        margin: 0;
        display: block;
    }

    .browse {
        margin-right: 0;
        margin-left: 0;
        grid-row: 8/9;
        grid-column: 3/6;
    }

    .h1_browse {
        top: 1.5vh;
    }

    .a_browse {
        height: 11vh;
        width: 43vw;
        position: absolute;
        z-index: 11;
    }

    .a_menu {
        text-decoration: none;
        font-size: 20px;
        color: #646464;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .a_menu:visited {
        color: #646464;
    }

    .a_menu:hover {
        color: #383838;
        border: none;
        font-size: 20px;
    }    

    .li_menu {
        height: 7vh;
        width: 30vw;
        margin-bottom: 3vh;
        border-style: solid;
        border-width: 0px;
        border-bottom-width: 1px;
        border-bottom-color: #646464;
        margin-right: 5vw;
    }

    .ul_menu {
        text-align: left;
    }

    /* mobil css produkter */

    .container_produkter {
        display: grid;
        background-color: beige;
        width: 100vw;
        height: auto;
        grid-template-rows: 64px 300px 57px 300px 57px 300px 57px 300px 57px;
        grid-template-columns: repeat(7, 1fr);
        grid-row-gap: 10px;
    }

    .bg-hoodie {
        grid-row: 2/3;
        grid-column: 1/8;
    }

    .hh-hoodie {
        grid-row: 3/4;
        grid-column: 1/8;
    }

    .bg-t_shirt1 {
        grid-row: 4/5;
        grid-column: 1/8;
    }

    .hh-shirt {
        grid-row: 5/6;
        grid-column: 1/8;
    }

    .bg-t_shirt2 {
        grid-row: 6/7;
        grid-column: 1/8;
    }

    .tre_strack {
        grid-row: 7/8;
        grid-column: 1/8;
    }

    .bg-filmjolk {
        grid-row: 8/9;
        grid-column: 1/8;
    }

    .filmjolk {
        grid-row: 9/10;
        grid-column: 1/8;
    }

    /* mobil css nyheter */

    .container_nyheter {
        display: grid;
        background-color: beige;
        width: 100vw;
        height: auto;
        grid-template-rows: 64px auto 300px auto 300px;
        grid-template-columns: repeat(7, 1fr);
        grid-row-gap: 10px;
    }

    .nyhet1 {
        grid-row: 2/3;
        grid-column: 1/8;
    }

    .nyhet2 {
        grid-row: 4/5;
        grid-column: 1/8;
    }

    .bg-bundle1 {
        grid-row: 3/4;
        grid-column: 1/8;
        width: 300px; 
        height: 280px;
        background: url(../img/sprite_nyheter.png) -10px -310px;
    }

    .bg-malmo {
        grid-row: 5/6;
        grid-column: 1/8;
        width: 300px; 
        height: 280px;
        background: url(../img/sprite_nyheter.png) -330px -310px;
    }

    .a_kop_nyheter {
        width: 300px;
    }
    
    /* mobil css kopande */

    .container_kop {
        display: grid;
        background-color: beige;
        width: 100vw;
        height: auto;
        grid-template-rows: 64px auto 300px auto auto;
        grid-template-columns: repeat(7, 1fr);
        grid-row-gap: 10px;
    }

    .h2_produkt {
        grid-row: 2/3;
        grid-column: 1/8;
        margin: 0;
    }

    .produkt-hoodie {
        grid-row: 3/4;
        grid-column: 1/8;
        height: 280px;
        width: 280px;
        margin: auto;
        background: url(../img/sprite-hoodie.png) -462px -10px;
    }

    .produkt-shirt {
        grid-row: 3/4;
        grid-column: 1/8;
        height: 280px;
        width: 280px;
        margin: auto;
        background: url(../img/sprite-shirt1.png) -462px -10px;
    }

    .produkt-shirt2 {
        grid-row: 3/4;
        grid-column: 1/8;
        height: 280px;
        width: 280px;
        margin: auto;
        background: url(../img/sprite-shirt2.png) -462px -10px;
    }

    .produkt-filmjolk {
        grid-row: 3/4;
        grid-column: 1/8;
        height: 280px;
        width: 280px;
        margin: auto;
        background: url(../img/sprite-filmjolk.png) -462px -10px;
    }

    .produkt-filbundle {
        grid-row: 3/4;
        grid-column: 1/8;
        height: 280px;
        width: 280px;
        margin: auto;
        background: url(../img/sprite-filbundle.png) -462px -10px;
    }

    .produkt-malmo {
        grid-row: 3/4;
        grid-column: 1/8;
        height: 280px;
        width: 280px;
        margin: auto;
        background: url(../img/sprite-malmo.png) -462px -10px;
    }

    .storlek {
        grid-row: 5/6;
        grid-column: 1/4;
        margin-left: 2vw;
        font-size: 16px;
    }

    input {
        width: 20vw;
    }

    .varukorg {
        grid-row: 5/6;
        grid-column: 4/8;
    }

    .varukorg-noform {
        grid-row: 5/6;
        grid-column: 2/7;
    }

    .p-varukorg {
        font-size: 18px;      
        top: 0;  
    }

    .pris {
        grid-row: 4/5;
        grid-column: 1/8;
        font-size: 36px;
        margin: 0;
    }

    /* mobil css bundles */

    .container_bundles {
        display: grid;
        background-color: beige;
        width: 100vw;
        height: auto;
        grid-template-rows: 64px auto 300px auto;
        grid-template-columns: repeat(7, 1fr);
        grid-row-gap: 10px;
    }

    .bundle1 {
        grid-row: 2/3;
        grid-column: 1/8;
        margin: 0;
    }

    .bundle2 {
        grid-row: 4/5;
        grid-column: 1/8;
        margin: 0;
    }

    .bg-bundle1-bundles {
        grid-row: 3/4;
        grid-column: 1/8;
        width: 300px; 
        height: 280px;
        background: url(../img/sprite_nyheter.png) -10px -310px;
    }    

}